POSTGRES_DB=royal_dispatch
POSTGRES_USER=royal
POSTGRES_PASSWORD=postgres_password_here
OPENAI_API_KEY=sk-proj-your_openai_api_key_here
AUTH_SECRET=changeme-32-byte-hex # openssl rand -hex 32
FRONTEND_URL=http://localhost:3000
N8N_SHARED_SECRET=changeme-shared-secret #openssl rand -hex 32
ELEVENLABS_WEBHOOK_SECRET="wsec_token_here" # You can generate this in your ElevenLabs account settings
ELEVENLABS_AGENT_ID="agent_id_here" # You can find this in your ElevenLabs account settings